---
layout: base.njk
permalink: /open-positions/

---
<div style="margin:auto; padding:1rem; padding-top: 0px; max-width:120em;">
<div style="display: flex; flex-direction: column; background-color: #0273A8; color: white; margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; padding-bottom: 13px">
<h2 style="margin-bottom: 0px; padding-top 10px;">Open Positions</h2>
</div>
<p>
We regularly hire outstanding candidates for Ph.D. and postdoc positions within the center.</p>
<p>Below is a list of past and current position
listings for CA3:</p>
<blockquote>
<ul style="list-style:'⎈  ';">
<li style="color: rgba(0,0,0,0.5); padding-bottom: 1rem;"><em>November 2023</em> • <span style="font-weight:500">Ph.D. students in Data-Driven Storytelling</span> for CA3 <sup><strong style="color: #CD3737">closed!</strong></sup></li>
<li style="color: rgba(0,0,0,0.5); padding-bottom: 1rem;"><em>August 2023</em> • <span style="font-weight:500">Ph.D. students</span> for the Center for Anytime Anywhere Analytics <sup><strong style="color: #CD3737">closed!</strong></sup></li>
<li style="color: rgba(0,0,0,0.5); padding-bottom: 1rem;"><em>September 2023</em> • <span style="font-weight:500">postdoctoral researcher</span> for the Center for Anytime Anywhere Analytics <sup><strong style="color: #CD3737">closed!</strong></sup></li>
</ul>
</blockquote>
<p>
If you are a prospective student or postdoc, please reach out to Niklas Elmqvist (even if there are no current positions listed).
</p>
</div>